{{ template "header" . }}

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col">
            <div class="row">
                <h2 class="col">Terminvorschlag: </br>{{.Info.Title}}</h2>
                <div class="col-auto">
                    <a class="btn btn-primary" href="/shared/create/app?terminID={{.TerminID}}">Neuen Vorschlagtermin erstellen</a>
                </div>
            </div>
            <p style="font-style: italic">{{.Info.Description}}</p>
            {{if .Persons}}
                <p>Eingeladene Personen:</p>
                <ul>
                    {{range $index, $element := .Persons}}
                        <li>{{$element}}</li>
                    {{end}}
                </ul>
            {{else}}
                <p style="font-style: italic">Keine Personen bisher eingeladen</p>
            {{end}}

        </div>
        <div class="col" style="margin-right: 20px; width: 50%">
            <div class="row" style="display: flex;flex-direction: row;justify-content: space-around">
                <a class="btn btn-outline-primary" style="width: 200px" href="/shared/create/link?terminID={{.TerminID}}">Person einladen</a>
                <a class="btn btn-outline-primary" style="width: 200px" href="/shared/showAllLink?terminID={{.TerminID}}">Alle Links anzeigen</a>
            </div>
            <table class="table table-striped" style="margin-top: 50px;">
                <thead>
                    <th>Termin</th>
                    <th>Anzahl Pers.</th>
                    <th>Personen die zugesagt haben</th>
                    <th></th>
                </thead>
                <tbody>
                    {{range $index, $element := .VorschlagTermine}}
                        <tr>
                            <td>{{$element.Termin.Date.Format "02.01.2006"}} - {{$element.Termin.EndDate.Format "02.01.2006"}}</td>
                            <td>{{$element.VotesFor}}</td>
                            <td>
                                {{if $element.PersonsVoted}}
                                    <ul>
                                        {{range $ind, $person := $element.PersonsVoted}}
                                        <li>{{$person}}</li>
                                        {{end}}
                                    </ul>
                                {{else}}
                                    -----
                                {{end}}
                            </td>
                            <td><button class="btn btn-dark">Tag auswählen</button></td>

                        </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{ template "footer" . }}
