{{ template "header" . }}

<div style="margin: 30px" class="container-fluid">
    <h2>Name: user</h2>
    <table class="table table-striped" style="width: 50%">
        <thead>
            <th>Datum</th>
            <th colspan="2">Abstimmen</th>
        </thead>
        <tbody>
            <tr>
                <td>02.01.2022-01.01.2023</td>
                <td style="width: 85px"><a class="btn btn-success">Zustimmen</a></td>
                <td style="width: 85px"><a class="btn btn-danger">Ablehnen</a></td>
            </tr>
        </tbody>
    </table>
</div>


{{ template "footer" . }}