{{ template "header" .}}
<hr>
<div class="row ">
    <div class="col">
        {{ template "creator" . }}
    </div>
    <div class="col-6 text-light bg-secondary">
        <!---Zeigt Datum an, ab welchem die Termine angezeigt werden-->
        <h3 class="sticky-sm-top">Deine Termine ab dem {{.SelectedDate.Format "2006-01-02"}}</h3>
        <!---Formular um Datum zu wählen, ab welchem die Termine angezeigt werden-->
        <form action="/user/view/list?selDatum" method="GET" id="dateSelector" role="form"
              class="row mb-3 p-3  needs-validation" novalidate>
            <div>
                <label for="selDate" class="col-sm-2 ">Wähle Datum</label>
                <input type="date" class="form-control" name="selDate" id="selDate" required>
                <div class="col-12  p-3">
                    <button type="submit" class="btn btn-light float-end" onclick="validateForm('dateSelector')">Datum
                        wählen
                    </button>
                </div>
            </div>
        </form>
    <!----------Template, um Ergebnisse in einer Liste anzuzeigen------------>
        {{ template "listing" .}}
</div>
</div>
{{ template "footer" . }}
{{template "creatorScript" .}}