{{ template "header" }}
<hr>
<div class="row ">
    <div class="col">
        {{ template "creator" . }}
    </div>
    <div class="col-6 text-light bg-secondary">
        <h3 class="sticky-sm-top">Deine Termine ab dem {{.SelectedDate.Format "2006-01-02"}}</h3>
        <form action="/user/view/list?selDatum" method="GET" id="dateSelector" role="form"
              class="row mb-3 p-3  needs-validation" novalidate>
            <div>
                <label for="selDate" class="col-sm-2 ">Wähle Datum</label>
                <input type="date" class="form-control" name="selDate" id="selDate" required>
                <div class="col-12  p-3">
                    <button type="submit" class="btn btn-light float-end" onclick="validateForm('dateSelector')">Datum
                        wählen
                    </button>
                </div>
            </div>
        </form>
        {{range $dayEntry := .GetEntries}}
        <div class="card text-dark bg-light mb-3">
            <div class="card-body">
                {{ $nextOccurrences := $.NextOccurrences $dayEntry }}
                {{ $firstOccur := index $nextOccurrences 0}}
                <h4 class="card-title">{{ $firstOccur.Format "2006-01-02" }}</h4>
                <h5>{{.Title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{.Description}}</h6>
                <!-------Filter Reccuring String-Repräsentation----->
                {{$rep := ""}}
                {{if eq .Recurring 0}}
                {{$rep = "täglich"}}
                {{else}}
                {{if eq .Recurring 1}}
                {{$rep = "wöchentlich"}}
                {{else}}
                {{if eq .Recurring 2}}
                {{$rep = "monatlich"}}
                {{else}}
                {{if eq .Recurring 3}}
                {{$rep = "jährlich"}}
                {{else}}
                {{$rep = "niemals"}}
                {{end}}
                {{end}}
                {{end}}
                {{end}}
                <div class="card-text">
                    <ul>
                        <li>
                            <b>Wiederholung: </b>{{$rep}}
                        </li>
                        <li>
                            <b>Nächsten Vorkommen: </b> {{range $occur := $.NextOccurrences $dayEntry}} {{ $occur.Format
                            "2006-01-02"}}, {{end}}
                        </li>
                        <li>
                            <b>Startdatum: </b>{{.Date.Format "2006-01-02"}}
                        </li>
                        <li>
                            <b>Enddatum: </b>{{.EndDate.Format "2006-01-02"}}
                        </li>
                    </ul>
                </div>
                <!---button zum Bearbeiten des Termins--->
                <button type="button" class="btn btn-link"
                        onclick="editTermin(new Termin({{.Title}},{{.Description}},{{.Recurring}},{{.Date}},{{.EndDate}}))">
                    bearbeiten
                </button>
            </div>
        </div>
        {{end}}
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <form action="/user/view/list?Seite" method="GET" role="form" class="row mb-3 p-3 ">
                    <label for="PageBack" class="col-sm-2 "></label>
                    <input type="hidden" class="form-control" name="Seite" id="PageBack" value="Zurueck">
                    <button type="submit" class="btn btn-light">Zurück</button>
                </form>
            </div>
            <div class="col-md-auto">
                <h4> {{.CurrentPage}} von {{.RequiredPages}}</h4>
            </div>
            <div class="col col-lg-2">
                <form action="/user/view/list?Seite" method="GET" role="form" class="row mb-3 p-3 ">
                    <label for="PageFor" class="col-sm-2 "></label>
                    <input type="hidden" class="form-control" name="Seite" id="PageFor" value="Vor">
                    <button type="submit" class="btn btn-light">Vor</button>
                </form>
            </div>
        </div>
    </div>

    <!----------Rechte Spalte: wählen der Einträge pro Seite------------>
    <div class="col">
        <div class="row justify-content-md-center">
            <form class="row g-3" action="/user/view/list?Eintraege" method="GET" role="form">
                <h4>Wähle Einträge pro Seite:</h4>
                <div class="col">
                    <select name="Eintraege" id="pageEntriesNr" class="form-select">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-secondary">Bestätigen</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{ template "footer" . }}
{{template "creatorScript" .}}