{{ template "header" . }}
<div class="container-fluid">
    <hr>
    <div class="row justify-content-center align-items-center">

        <div class="col ">
{{ template "creator" . }}
            <!--------------Link Termin zu erstellen----------->
            <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasTopLabel">Offcanvas top</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">

                </div>
            </div>
        </div>
        <div class="col text-light">
            <div class="card text-center border-0">
                <div class="card-body ">
                    <div class=" p-2">
                        <button type="button" class="btn btn-secondary" onclick="jumpToToday()">Heute</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-secondary p-2" onclick="year(-1)">&larr;</button>
                        <b class="text-muted card-text w-25 p-2">{{.ShowYear}}</b>
                        <button type="button" class="btn btn-outline-secondary p-2" onclick="year(1)">&rarr;</button>

                    </div>
                    <div class="dropdown  p-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Monat
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="dropdownMenuButton2">
                            <li class="dropdown-item" onclick="monthSelection(1)">Januar</li>
                            <li class="dropdown-item" onclick="monthSelection(2)">Februar</li>
                            <li class="dropdown-item" onclick="monthSelection(3)">März</li>
                            <li class="dropdown-item" onclick="monthSelection(4)">April</li>
                            <li class="dropdown-item" onclick="monthSelection(5)">Mai</li>
                            <li class="dropdown-item" onclick="monthSelection(6)">Juni</li>
                            <li class="dropdown-item" onclick="monthSelection(7)">Juli</li>
                            <li class="dropdown-item" onclick="monthSelection(8)">August</li>
                            <li class="dropdown-item" onclick="monthSelection(9)">September</li>
                            <li class="dropdown-item" onclick="monthSelection(10)">Oktober</li>
                            <li class="dropdown-item" onclick="monthSelection(11)">November</li>
                            <li class="dropdown-item" onclick="monthSelection(12)">Dezember</li>
                        </ul>
                    </div>
                </div>
            <table class="table table-secondary table-striped table-hover table-bordered">
                <caption class="caption-top">
                    <div class="card text-center bg-light">
                        <div class="card-body row justify-content-md-center">
                            <div class="col-sm">
                                <button type="button" class="btn btn-outline-secondary" onclick="back()">&larr;</button>
                            </div>
                            <div class="col-sm">
                                <b class="text-muted card-text w-25">{{.ShowMonth}} {{.ShowYear}}</b>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-outline-secondary" onclick="forward()">&rarr;
                                </button>
                            </div>
                        </div>
                    </div>
                </caption>
                <thead>
                <tr>
                    <th scope="col">Montag</th>
                    <th scope="col">Dienstag</th>
                    <th scope="col">Mittwoch</th>
                    <th scope="col">Donnerstag</th>
                    <th scope="col">Freitag</th>
                    <th scope="col">Samstag</th>
                    <th scope="col">Sonntag</th>
                </tr>
                </thead>
                <tbody>
                <!------------Hier findet die Terminfilterung statt------------------->
                <tr>
                    <!------------Je nachdem an welchen Wochentag der Monat beginnt werden leere Felder eingefügt------------------->
                    {{range $index, $element := .MonthStarts}}
                    <td></td>
                    {{end}}
                    <!------------Hier wird über die einzelnen Objekte dayInfos iteriert------------------->
                    {{range $index, $element := .MonthEntries}}
                    <td>
                        {{if (call .IsToday .Day)}}
                        <div class="card border-danger text-center border-1">
                            <div class="card-body ">
                                <div class="text-danger">
                                    Heute
                                    <br>
                                    <b class="text-danger">{{.Day.Day}} </b>
                                    <hr>
                                    Termine: {{len .Dayentries}}
                                    <br>
                                    <div class="d-grid gap-2 d-md-block">
                                        <!-- Button show Termin -->
                                        <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#showTermins" aria-controls="offcanvasExample"  onclick="showTermin({{.Day.Day}},{{.Day.Month}},{{.Day.Year}}, {{.Dayentries}})">
                                            anzeigen
                                        </button>
                                        <!-- Button eddit Termin -->
                                        <button type="button"  class="btn  btn-link" onclick="askForTerminToEditing({{.Dayentries}})">
                                            bearbeiten
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{ else }}
                        <div class="card border-secondary text-center border-1">
                            <div class="card-body ">
                                <div>
                                    <br>
                                    <b>{{.Day.Day}} </b>
                                    <hr>
                                    Termine: {{len .Dayentries}}
                                    <br>
                                    <div class="d-grid gap-2 d-md-block">
                                        <!-- Button show Termin -->
                                        <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#showTermins" aria-controls="offcanvasExample"  onclick="showTermin({{.Day.Day}},{{.Day.Month}},{{.Day.Year}}, {{.Dayentries}})">
                                            anzeigen
                                        </button>
                                        <!-- Button eddit Termin -->
                                        <button type="button"  class="btn  btn-link" onclick="askForTerminToEditing({{.Dayentries}})">
                                            bearbeiten
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{end}}

                    </td>
                    {{if (call .NeedsBreak .Day)}}
                </tr>
                <tr>
                    {{end}}
                    {{end}}
                </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="col text-light">
        </div>
        <!--------------Hier werden die Termininforamtionen angezeigt (erscheint links im Bildschirm) ----------->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="showTermins" aria-labelledby="offcanvasExampleLabel">
            </div>
        </div>
    </div>

{{ template "footer" . }}


<!--------------------Hier folgt benötigter JavaScript-Code--------------------------->

<script>
    function back() {
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            location.reload();
        }
        xhttp.open("GET", "?suche=minusMonat");
        xhttp.send();
    }

    function forward() {
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            location.reload();
        }
        xhttp.open("GET", "?suche=plusMonat");
        xhttp.send();
    }

    function monthSelection(monat) {
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            location.reload();
        }
        requestString = String("?monat=" + monat)
        xhttp.open("GET", requestString);
        xhttp.send();
    }

    function year(summand) {
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            location.reload();
        }
        requestString = String("?jahr=" + summand)
        xhttp.open("GET", requestString);
        xhttp.send();
    }

    function jumpToToday() {
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            location.reload();
        }
        xhttp.open("GET", "?datum=heute");
        xhttp.send();
    }

    function showTermin(day,month, year, dayentries) {
        let terminStr = "";
        document.getElementById("showTermins").innerHTML = "Deine Termine am: <br>" + day +" " + month +" " +year;
        for (let i = 0; i < dayentries.length; i++) {
            entrie = dayentries;
            terminStr = terminStr + "<b>" + dayentries[i].Title.toString() + "</b>"
                + "<ul>" +
                "<li> <b>Beschreibung:</b> " + dayentries[i].Description + "</li>" +
                "<li><b> Wiederholung: </b>" + getRecurring(dayentries[i].Recurring) + "</li>" +
                "<li> <b>Starttermin: </b>" + dayentries[i].Date + "</li>" +
                "<li> <b>Endtermin: </b>" + dayentries[i].EndDate + "</li>" +
                "</ul>" +
                "<hr>";

        }
        document.getElementById("showTermins").innerHTML = terminStr;
    }

    function askForTerminToEditing(dayentries) {
        var selTermin;
        var termineStr = "";

        for (let i = 0; i < dayentries.length; i++) {
            terminNr = i +1
            termin = dayentries[i]
            termineStr = termineStr + terminNr +". Termin: " + termin.Title + "\n Beschreibung: " + termin.Description +
                "\n Wiederholung: " + getRecurring(termin.Recurring) +  "\n Start-Datum: " + termin.Date +
                "\n End-Datum: " + termin.EndDate +
            "\n-------------------------------------------\n"
        }
        selTermin = prompt(termineStr + "GIB DIE NUMMER DES ZU BEARBEITENDEN TERMINS EIN:");

        //Hier folgt eine Überprüfung der Gültigkeit der Eingabe
        var terminEditable = false;
        for (let i = 0; i < dayentries.length; i++) {
            terminNr = i+1
            if (selTermin == terminNr){
                terminEditable = true;
            }
        }
        if (!terminEditable) {
            confirm("Diese Eingabe ist nicht gültig!");
        }else{
            editTermin(dayentries[selTermin-1])
        }
    }

    function getRecurring(rec){
        var recurring
        switch(rec) {
            case 0:
                recurring = "täglich"
                break;
            case 1:
                recurring = "wöchentlich"
                break;
            case 2:
                recurring = "monatlich"
                break;
            case 3:
                recurring = "jährlich"
                break;
            case 4:
                recurring = "niemals"
                break;
            default:
                recurring = "niemals"
        }
        return recurring
    }

</script>