{{ template "header" . }}

<div class="container-fluid">
    <div class="row">
        <div class="col" style="width: 33%"></div>
        <div class="col">
            <h3>Neuen Nutzer erstellen</h3>
            <form method="post">
                <div class="mb-3">
                    <label for="userInput" class="form-label">Nutzername:</label>
                    <input type="text" class="form-control" name="newUsername" id="userInput" placeholder="Nutzer">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="passwordInput">Password:</label>
                    <input type="password" class="form-control" name="newPassword" id="passwordInput" placeholder="Passwort">
                </div>
              <button class="btn btn-primary" type="submit">Nutzer erstellen</button>
            </form>
        </div>
        <div class="col" style="width: 33%"></div>
    </div>
</div>

{{ template "footer" . }}
