{{ template "header" . }}
<hr>
<div class="row justify-content-center align-items-center">
    <div class="col">

        <form action="/tabellenAnsicht" method="POST" id="terminerstellung"  role="form"  class="row mb-3 p-3  needs-validation" novalidate>
            <h3>Neuen Termin erstellen</h3>
            <div>
                <label for="titel" class="col-sm-2 col-form-label ">Titel</label>
                <input type="text" class="form-control" id="titel" placeholder="Termin-Titel" required>
            </div>
            <div>
                <label for="beschreibung" class="col-sm-2 col-form-label">Beschreibung</label>
                <input type="text" class="form-control" id="beschreibung" placeholder="Hier eine Termin Beschreibung eingeben." required>
            </div>
            <div class="col-12 col-form-label">
                <label>Wiederholungsinterrvall</label>
                <select class="form-select" id="wiederholung">
                    <option selected>niemals</option>
                    <option value="1">täglich</option>
                    <option value="2">wöchentlich</option>
                    <option value="3">jährlich</option>
                    <option value="4">niemals</option>
                </select>
            </div>
            <div class="col-md-6 col-form-label">
                <label dor="datum" class="col-sm-2 ">Datum</label>
                <input type="date" class="form-control" id="datum" required>
            </div>
            <div class="col-md-6 col-form-label">
                <label class="col-sm-2 ">Enddatum</label>
                <input type="date" class="form-control" id="endDatum">
            </div>
            <div class="col-12  p-3">
                <button type="submit" class="btn btn-secondary">Termin erstellen</button>
            </div>
        </form>


    </div>
    <div class="col-6 text-light">
        <div class="card text-center bg-light">
            <div class="card-body row justify-content-md-center">
                <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary" onclick="zurueck()">&larr;</button>
                </div>
                <div class="col-sm">
                    <b class="text-muted card-text w-25">{{.MonatsAnzeige}} {{.JahrAnzeige}}</b>
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary" onclick="vor()">&rarr;</button>
                </div>
            </div>
        </div>
        <table class="table table-secondary table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Montag</th>
                <th scope="col">Dienstag</th>
                <th scope="col">Mittwoch</th>
                <th scope="col">Donnerstag</th>
                <th scope="col">Freitag</th>
                <th scope="col">Samstag</th>
                <th scope="col">Sonntag</th>
            </tr>
            </thead>
            <tbody>
            {{range $index, $element := .ErstelleTabellenAnsicht}}
            <tr>
                <th>{{ $element }}</th>
                <th>{{ $element }}</th>
                <th>{{ $element }}</th>
                <th>{{ $element}}</th>
                <th>{{ $element }}</th>
                <th>{{ $element }}</th>
                <th>{{ $element }}</th>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>


    <div class="col">
        <div class="card text-center border-0">
            <div class="card-body">
                <div class=" p-2">
                    <button type="button" class="btn btn-secondary" onclick="springZuHeute()">Heute</button>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-secondary p-2" onclick="jahr(-1)">&larr;</button>
                    <b class="text-muted card-text w-25 p-2">{{.JahrAnzeige}}</b>
                    <button type="button" class="btn btn-outline-secondary p-2" onclick="jahr(1)">&rarr;</button>

                </div>
                <div class="dropdown  p-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Monat
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="dropdownMenuButton2">
                        <li class="dropdown-item" onclick="monatswahl(1)">Januar</li>
                        <li class="dropdown-item" onclick="monatswahl(2)">Februar</li>
                        <li class="dropdown-item" onclick="monatswahl(3)">März</li>
                        <li class="dropdown-item" onclick="monatswahl(4)">April</li>
                        <li class="dropdown-item" onclick="monatswahl(5)">Mai</li>
                        <li class="dropdown-item" onclick="monatswahl(6)">Juni</li>
                        <li class="dropdown-item" onclick="monatswahl(7)">Juli</li>
                        <li class="dropdown-item" onclick="monatswahl(8)">August</li>
                        <li class="dropdown-item" onclick="monatswahl(9)">September</li>
                        <li class="dropdown-item" onclick="monatswahl(10)">Oktober</li>
                        <li class="dropdown-item" onclick="monatswahl(11)">November</li>
                        <li class="dropdown-item" onclick="monatswahl(12)">Dezember</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer" . }}


<script>
    /*
    //Hier wird das Formular auf vollständigkeit überprüft
    const form = document.getElementById('terminerstellung');
    form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }
        if(form.checkValidity()) {
            sendData()
        }
        form.classList.add('was-validated')
    }, false);

    function sendData() {
        var http = new XMLHttpRequest();
        //hole alle Termin-infos aus dem Formular
        const terminInfos = new FormData();
        terminInfos.append("titel", document.getElementById('titel').value);

        var terminInfos = new Object();
        terminInfos.titel = document.getElementById('titel').value;
        terminInfos.beschreibung = document.getElementById('beschreibung').value;
        terminInfos.wiederholung = document.getElementById('wiederholung').value;
        terminInfos.datum = document.getElementById('beschreibung').value;
        terminInfos.beschreibung = document.getElementById('endDatum').value;

        //hier werden die Daten in ein Array umgewandelt
        //Das Array enthält key/values Paare für den Request Context
        let urlEncodedData = "", urlEncodedDataPairs = [], name;
        for( name in terminInfos ) {
            urlEncodedDataPairs.push(encodeURIComponent(name)+'='+encodeURIComponent(terminInfos[name]));
        }
        //Aufbau und senden der Post Request -> Info bei ergolgreicher Erstellung
        http.open('POST', '/tabellenAnsicht')
        http.setRequestHeader('Content-type', 'application/termin-form');
        http.send(terminInfos);
        http.onload = function() {
            // Do whatever with response
            alert(http.responseText)
        }
        }
*/
    function zurueck() {
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            location.reload();
        }
        xhttp.open("GET", "?suche=minusMonat");
        xhttp.send();
    }

    function vor() {
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            location.reload();
        }
        xhttp.open("GET", "?suche=plusMonat");
        xhttp.send();
    }

    function monatswahl(monat) {
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            location.reload();
        }
        requestString = String("?monat=" + monat)
        xhttp.open("GET", requestString);
        xhttp.send();
    }

    function jahr(summand) {
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            location.reload();
        }
        requestString = String("?jahr=" + summand)
        xhttp.open("GET", requestString);
        xhttp.send();
    }

    function springZuHeute() {
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            location.reload();
        }
        xhttp.open("GET", "?datum=heute");
        xhttp.send();
    }
</script>